@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Your Adventure Starts Here!</h1>
    <h3>Bobber's All Day Boat Rentals</h3>
    <button onclick="location.href = 'www.yoursite.com';">Make A Reservation</button>  
  </div>
</div>
